################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AriesCV
/src/OpenCvSharp/bin/
/src/OpenCvSharp/obj/
/src/Aries.OpenCV/bin/
/src/Aries.OpenCV/obj/
/src/Aries.Control/bin/
/src/Aries.Control/obj/
/src/Aries.Utility/bin/
/src/Aries.Utility/obj/
/src/AriesCV/bin/
/src/AriesCV/obj/
/src/Aries/obj/Debug
/src/GraphX.Controls/bin/
/src/GraphX.Controls/obj/
/src/GraphX.Standard.Common/bin/
/src/GraphX.Standard.Common/obj/
/src/GraphX.Standard.Logic/bin/
/src/GraphX.Standard.Logic/obj/
/src/packages
/src/.vs


