################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AriesCV
/src/OpenCvSharp/bin/
/src/OpenCvSharp/obj/
/src/Aries.OpenCV/bin/
/src/Aries.OpenCV/obj/
/src/Aries.Control/bin/
/src/Aries.Control/obj/
/src/Aries.Utility/bin/
/src/Aries.Utility/obj/
/src/AriesCV/bin/
/src/AriesCV/obj/
/src/Aries/obj/Debug
/src/GraphX.Controls/bin/
/src/GraphX.Controls/obj/
/src/GraphX.Standard.Common/bin/
/src/GraphX.Standard.Common/obj/
/src/GraphX.Standard.Logic/bin/
/src/GraphX.Standard.Logic/obj/
/src/packages
/src/.vs


/src/AriesTest/obj/Debug
/src/AriesTest/bin/Debug
/src/Aries.UnitTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Aries.UnitTest/obj/Debug/Aries.UnitTest.csproj.AssemblyReference.cache
/src/Aries.UnitTest/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/src/Aries.UnitTest/obj/Debug
/.vs/Aries/v17
